<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xhtml</key>
	<string>xhtml</string>
	<key>xhtm</key>
	<string>xhtm</string>
	<key>ncx</key>
	<string>ncx</string>
	<key>html</key>
	<string>html</string>
	<key>xml</key>
	<string>xml</string>
	<key>opf</key>
	<string>opf</string>
</dict>
</plist>
