<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>侧边栏列表</key>
	<dict>
		<key>background</key>
		<string>#00ffffff</string>
		<key>background-selected</key>
		<string>#0a000000</string>
		<key>font-color</key>
		<string>#250000</string>
		<key>font-color-selected</key>
		<string>#63b8e5</string>
		<key>font-size</key>
		<integer>20</integer>
		<key>horizontal-line-color</key>
		<string>#dddddd</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>书架模块顶部SegmentedControl</key>
	<dict>
		<key>font-size</key>
		<integer>14</integer>
		<key>font-color-selected</key>
		<string>#888888</string>
		<key>font-color</key>
		<string>#ffffff</string>
		<key>background-gradient-selected</key>
		<string>#ffffff</string>
		<key>background-gradient</key>
		<string>#00000000</string>
		<key>border-color</key>
		<string>#ffffff</string>
		<key>border-width</key>
		<real>0.5</real>
		<key>corner-radius</key>
		<integer>3</integer>
	</dict>
	<key>顶部导航栏</key>
	<dict>
		<key>background-gradient</key>
		<string>#eeefefef,#eeefefef</string>
		<key>font-color</key>
		<string>#454545</string>
		<key>font-size</key>
		<integer>18</integer>
		<key>horizontal-line-color</key>
		<string>#eeeeee</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
		<key>shadow-color</key>
		<string>#000000</string>
		<key>shadow-width</key>
		<integer>0</integer>
	</dict>
	<key>图书目录列表</key>
	<dict>
		<key>background</key>
		<string>#262626</string>
		<key>background-selected</key>
		<string>#202020</string>
		<key>font-color</key>
		<string>#252525</string>
		<key>font-color-selected</key>
		<string>#63b8e5</string>
		<key>font-size</key>
		<integer>15</integer>
		<key>horizontal-line-color</key>
		<string>#cccccc</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>电子书Segmented</key>
	<dict>
		<key>font-size</key>
		<integer>14</integer>
		<key>font-color</key>
		<string>#727171</string>
		<key>font-color-selected</key>
		<string>#ffffff</string>
		<key>background-gradient-selected</key>
		<string>#1cA873</string>
		<key>background-gradient</key>
		<string>#ffffff</string>
		<key>border-color</key>
		<string>#c8c8c8</string>
		<key>border-width</key>
		<real>0.5</real>
		<key>corner-radius</key>
		<integer>3</integer>
	</dict>
	<key>阅读结束按钮</key>
	<dict>
		<key>font-size</key>
		<integer>14</integer>
		<key>font-color</key>
		<string>#24a872</string>
		<key>font-color-selected</key>
		<string>#ffffff</string>
		<key>background-selected</key>
		<string>#24a872</string>
		<key>background</key>
		<string>#ffffff</string>
		<key>border-color</key>
		<string>#24a872</string>
		<key>border-width</key>
		<integer>1</integer>
		<key>corner-radius</key>
		<integer>0</integer>
	</dict>
	<key>试读结束按钮</key>
	<dict>
		<key>font-size</key>
		<integer>14</integer>
		<key>font-color</key>
		<string>#ffffff</string>
		<key>font-color-selected</key>
		<string>#ffffff</string>
		<key>background-selected</key>
		<string>#24a872</string>
		<key>background</key>
		<string>#24a872</string>
		<key>border-color</key>
		<string>#24a872</string>
		<key>border-width</key>
		<integer>1</integer>
		<key>corner-radius</key>
		<integer>0</integer>
	</dict>
	<key>设置界面字号按钮</key>
	<dict>
		<key>font-size</key>
		<integer>14</integer>
		<key>font-color</key>
		<string>#ffffff</string>
		<key>font-color-selected</key>
		<string>#ffffff</string>
		<key>background-selected</key>
		<string>#242424</string>
		<key>background</key>
		<string>#303030</string>
		<key>border-color</key>
		<string>#24a872</string>
		<key>border-width</key>
		<integer>1</integer>
		<key>corner-radius</key>
		<integer>0</integer>
	</dict>
	<key>设置界面主题按钮</key>
	<dict>
		<key>font-size</key>
		<integer>14</integer>
		<key>font-color</key>
		<string>#ffffff</string>
		<key>font-color-selected</key>
		<string>#ffffff</string>
		<key>border-color</key>
		<string>#24a872</string>
		<key>border-width</key>
		<integer>1</integer>
		<key>corner-radius</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
