<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LGProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88256F751FF4C23A0073477D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88256F8D1FF4C23A0073477D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88256F981FF4C23A0073477D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
