<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>classModelArray</key>
		<array>
			<dict>
				<key>btnTitle</key>
				<string>全部</string>
				<key>classType</key>
				<integer>0</integer>
				<key>lg_isSelected</key>
				<true/>
			</dict>
			<dict>
				<key>btnTitle</key>
				<string>轻松学中文</string>
				<key>classType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>btnTitle</key>
				<string>中文学不停</string>
				<key>classType</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
