<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconUrl</key>
		<string>0</string>
		<key>itemName</key>
		<string>头像</string>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>itemName</key>
		<string>姓名</string>
		<key>content</key>
		<string>吴世勋</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>itemName</key>
		<string>手机号</string>
		<key>content</key>
		<string>133333333</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>itemName</key>
		<string>密码</string>
		<key>content</key>
		<string>111111</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>itemName</key>
		<string>身份证号</string>
		<key>content</key>
		<string>110110199912310000</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>itemName</key>
		<string>民族</string>
		<key>content</key>
		<string>汉</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>itemName</key>
		<string>职务</string>
		<key>content</key>
		<string>书记</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>itemName</key>
		<string>入党时间</string>
		<key>content</key>
		<string>2011-9-1</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>itemName</key>
		<string>转正时间</string>
		<key>content</key>
		<string>2011-10-1</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>itemName</key>
		<string>工作单位</string>
		<key>content</key>
		<string>湖北省党委</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>所在支部</string>
		<key>content</key>
		<string>湖北省党支部</string>
	</dict>
</array>
</plist>
