<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemName</key>
		<string>类别:</string>
		<key>bookCata</key>
		<array>
			<dict>
				<key>title</key>
				<string>传统文化类</string>
				<key>secondaryCata</key>
				<array>
					<dict>
						<key>title</key>
						<string>黄梅戏</string>
					</dict>
					<dict>
						<key>title</key>
						<string>剪纸</string>
					</dict>
					<dict>
						<key>title</key>
						<string>经典诵读</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>人文社科类</string>
				<key>secondaryCata</key>
				<array>
					<dict>
						<key>title</key>
						<string>雷雨</string>
					</dict>
					<dict>
						<key>title</key>
						<string>茶馆</string>
					</dict>
					<dict>
						<key>title</key>
						<string>活着</string>
					</dict>
					<dict>
						<key>title</key>
						<string>面朝大海</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>科普百科类</string>
				<key>secondaryCata</key>
				<array>
					<dict>
						<key>title</key>
						<string>走进科学</string>
					</dict>
					<dict>
						<key>title</key>
						<string>科学实验室</string>
					</dict>
					<dict>
						<key>title</key>
						<string>晓松奇谈</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>学段:</string>
		<key>bookCata</key>
		<array>
			<dict>
				<key>title</key>
				<string>小学</string>
			</dict>
			<dict>
				<key>title</key>
				<string>初中</string>
			</dict>
			<dict>
				<key>title</key>
				<string>高中</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemName</key>
		<string>年级:</string>
		<key>bookCata</key>
		<array>
			<dict>
				<key>title</key>
				<string>一年级</string>
			</dict>
			<dict>
				<key>title</key>
				<string>二年级</string>
			</dict>
			<dict>
				<key>title</key>
				<string>三年级</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
