<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>seqid</key>
		<integer>-1</integer>
		<key>modelType</key>
		<integer>-1</integer>
		<key>toolname</key>
		<string>更多</string>
		<key>locaImage</key>
		<string>ol_hp_more</string>
	</dict>
</array>
</plist>
