<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemName</key>
		<string>会议标签</string>
		<key>itemClass</key>
		<integer>6</integer>
		<key>uploadJsonKey</key>
		<string>sessiontype</string>
		<key>necess</key>
		<true/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>会议主题</string>
		<key>itemClass</key>
		<integer>0</integer>
		<key>uploadJsonKey</key>
		<string>title</string>
		<key>necess</key>
		<true/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>会议时间</string>
		<key>itemClass</key>
		<integer>1</integer>
		<key>uploadJsonKey</key>
		<string>date</string>
		<key>necess</key>
		<true/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>会议地点</string>
		<key>itemClass</key>
		<integer>0</integer>
		<key>uploadJsonKey</key>
		<string>address</string>
		<key>necess</key>
		<true/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>会议主持人</string>
		<key>itemClass</key>
		<integer>0</integer>
		<key>uploadJsonKey</key>
		<string>organizer</string>
		<key>necess</key>
		<true/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>到会人员</string>
		<key>itemClass</key>
		<integer>2</integer>
		<key>uploadJsonKey</key>
		<string>attendusers</string>
		<key>necess</key>
		<true/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>缺席人员</string>
		<key>itemClass</key>
		<integer>5</integer>
		<key>uploadJsonKey</key>
		<string>absentusers</string>
		<key>necess</key>
		<false/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>会议内容</string>
		<key>itemClass</key>
		<integer>8</integer>
		<key>uploadJsonKey</key>
		<string>introduction</string>
		<key>necess</key>
		<true/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>添加封面</string>
		<key>itemClass</key>
		<integer>4</integer>
		<key>uploadJsonKey</key>
		<string>cover</string>
		<key>necess</key>
		<false/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>会议图片</string>
		<key>itemClass</key>
		<integer>3</integer>
		<key>uploadJsonKey</key>
		<string>fileurl</string>
		<key>necess</key>
		<false/>
	</dict>
</array>
</plist>
