<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemName</key>
		<string>系统推送</string>
		<key>contentType</key>
		<integer>1</integer>
		<key>content</key>
		<string></string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>清除缓存</string>
		<key>contentType</key>
		<integer>0</integer>
		<key>content</key>
		<string>1MB</string>
	</dict>
	<dict>
		<key>itemName</key>
		<string>检查版本</string>
		<key>contentType</key>
		<integer>0</integer>
		<key>content</key>
		<string>1.0</string>
	</dict>
</array>
</plist>
