<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemTitle</key>
		<string>登录</string>
		<key>rate</key>
		<integer>1</integer>
		<key>unit</key>
		<string>次</string>
		<key>score</key>
		<integer>5</integer>
		<key>upperLimit</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>查看、收听微党课内容</string>
		<key>rate</key>
		<integer>10</integer>
		<key>unit</key>
		<string>分钟</string>
		<key>score</key>
		<integer>3</integer>
		<key>upperLimit</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>微党课内容分享</string>
		<key>rate</key>
		<integer>1</integer>
		<key>unit</key>
		<string>次</string>
		<key>score</key>
		<integer>2</integer>
		<key>upperLimit</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>查看党建要闻</string>
		<key>rate</key>
		<integer>5</integer>
		<key>unit</key>
		<string>分钟</string>
		<key>score</key>
		<integer>2</integer>
		<key>upperLimit</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>数字图书阅读</string>
		<key>rate</key>
		<integer>5</integer>
		<key>unit</key>
		<string>分钟</string>
		<key>score</key>
		<integer>2</integer>
		<key>upperLimit</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>学习问答提问</string>
		<key>rate</key>
		<integer>1</integer>
		<key>unit</key>
		<string>次</string>
		<key>score</key>
		<integer>2</integer>
		<key>upperLimit</key>
		<integer>30</integer>
	</dict>
</array>
</plist>
