<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemName</key>
		<string>你的描述内容时</string>
		<key>lineType</key>
		<integer>4</integer>
		<key>uploadJsonKey</key>
		<string>title</string>
		<key>necess</key>
		<true/>
	</dict>
	<dict>
		<key>itemName</key>
		<string>照片</string>
		<key>lineType</key>
		<integer>3</integer>
		<key>uploadJsonKey</key>
		<string>fileurls</string>
		<key>necess</key>
		<true/>
	</dict>
</array>
</plist>
