<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>level</key>
		<integer>1</integer>
		<key>levelName</key>
		<string>先锋一级</string>
		<key>needScore</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>level</key>
		<integer>1</integer>
		<key>levelName</key>
		<string>先锋一级</string>
		<key>needScore</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>level</key>
		<integer>1</integer>
		<key>levelName</key>
		<string>先锋一级</string>
		<key>needScore</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>level</key>
		<integer>1</integer>
		<key>levelName</key>
		<string>先锋一级</string>
		<key>needScore</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
