<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>相机</string>
		<key>vcClassName</key>
		<string>LGCameraOperateViewController</string>
		<key>loadType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>kk相机</string>
		<key>vcClassName</key>
		<string>HVideoViewController</string>
		<key>loadType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
